<div class="ui raised very padded text container segment">
<h4><%= flash[:notice] %></h4>

<!-- form will POST to '/login' -->
<h2>Log in</h2>

 <%= form_tag(login_path, {class: 'ui form'}) do %>
  <div class="field">
    <label>Username</label>
    <%= text_field_tag :username, nil, placeholder: 'Username'  %>
  </div>

  <div class='field'>
    <label>Password</label>
   <%= password_field_tag :password, nil, placeholder: 'Password'  %>
  </div>

   <%= submit_tag "Log In", class: 'ui blue button' %>
  <% end %>

   <%= button_to "Create an Account", new_foodie_path, class: 'ui blue button' %>
</div>
