<div class="ui raised very padded text container segment">

<% if flash[:errors] %>
  <% flash[:errors].each do |err| %>
    <%= err %>
    <% end %>
<% end %>

<h4><%= flash[:notice] %></h4>


            <h2> Sign Up </h2>
            <%= form_for @foodie, html: {class: 'ui form'} do |f| %>
            <div class="field">
              <label>Username</label>
              <%= text_field_tag :username, nil, placeholder: 'Username'  %>
            </div>

            <div class='field'>
              <label>Password</label>
             <%= password_field_tag :password, nil, placeholder: 'Password'  %>
            </div>
            <%= submit_tag "Sign Up", class: 'ui blue button' %>
           <% end %>
            </div>
          
