<h1>Create a Food</h1>

<%= form_for @food do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :spot_name %>
  <%= f.text_field :spot_name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :category %>
  <%= f.collection_select :category_id, @categories, :id, :name, prompt: true %>
  <%= f.label :location %>
  <%= f.collection_select :location_id, @locations, :id, :city, prompt: true %>
  <%= f.submit %>
<% end %>
