
<div class="food-container">
  <%= image_tag @food.image, class: 'food-show-image' %>
  <h1><%= @food.name %></h1>
  <p>Avg Rating: 4.7</p>
  <span class="spot_name"><%= @food.spot_name %></span><br>
  <span class="address"><%= @food.address %></span>
  <%= button_to "Edit #{@food.name}", edit_food_path(@food), method: 'get', class: 'ui black button mini' %>
  <%= button_to "Add a Review", new_food_review_path(@food), method: 'get', class: 'ui black button mini' %>
</div>



<div class='ui cards container'>
  <% @food.reviews.each do |r| %>
    <div class="ui raised link card">
      <div class="content">
        <div class="header"><%= link_to r.title, review_path(r) %></div>
        <div class="meta">
          <span class="category"><%= r.rating %></span>
        </div>
        <div class="description">
          <p><%= r.content %></p>
        </div>
      </div>
      <div class="extra content">
        <div class="right floated">
          <%= r.foodie.username %>
        </div>
      </div>
    </div>
  <% end %>
