<h1><%= @food.name %></h1>

<div class="card" style="width: 65rem;">
  <%= image_tag @food.image, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= @food.spot_name %></h5>
    <p class="card-text"><%= @food.address %></p>
    <%= button_to "Edit #{@food.name}", edit_food_path(@food), method: 'get', class: 'btn btn-primary' %>
    <%= button_to "Add a Review", new_food_review_path(@food), method: 'get', class: 'btn btn-primary' %>
  </div>

  <ul class="list-group list-group-flush">
    <% @food.reviews.each do |r| %>
      <li class="list-group-item">
        <h3><%= r.title %></h3>>
        <div class='rating'><%= r.rating %></div>
        <%= r.content %><br>
        <%= r.foodie.username %><br>
      </li>
    <% end %>
  </ul>
</div>
