<h1>Edit a Review</h1>

<%= form_for @review do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :rating %>
  <%= f.number_field :rating, class: :number_field, step: :any %><br>
  <%= f.label :content %>
  <%= f.text_area :content %><br>
  <%= f.label :foodie %>
  <%= f.collection_select :foodie_id, @foodies, :id, :username, prompt: true %><br>
  <%= f.submit class: "btn btn-secondary btn-lg" %>

<% end %>
