<div class="ui raised very padded text container segment">

<h1>Make a Review</h1>

<%= form_for @review, :url => food_path(@food), html: {class: 'ui form'} do |f| %>
  <div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  </div>
  <div class="field">
  <%= f.label :rating %>
  <%= f.number_field :rating, class: :number_field, step: :any %><br>
  </div>
  <div class="field">
  <%= f.label :content %>
  <%= f.text_area :content %><br>
  <%= f.hidden_field(:foodie_id, :value => current_foodie.id)%><br>
  <%= f.hidden_field(:food_id, :value => @food.id)%>
  </div>
  <%= f.submit class: 'ui blue button' %>

<% end %>
