
<%= @review.title %><br>
<%= @review.food.category.name %><br>
<%= @review.food.name %><br>
<%= @review.food.spot_name %><br>
<%= @review.rating %><br>
<%= @review.content %><br>
<%= @review.foodie.username %>
<%= button_to "Edit", edit_review_path(@review), method: :get %>
<%= button_to "delete", @review, method: :delete, data: {confirm: "Are you sure you want to delete?"} %>

<% if @review.foodie.id == current_foodie.id %>
  <div class="text-center edit-links">
    <%= link_to "Cancel", food_reviews_path(@food) %>
    <%= link_to "Edit Review", edit_review_path(@review), method: :get %>
    <%= button_to "delete", @review, method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
  <%else%>
  .text-center.edit-links
        <%=link_to "Cancel", food_reviews_path(@food)%>
  </div>
<% end %>
